services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile.dev
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: local
      APP_DEBUG: "true"

  nginx:
    volumes:
      - .:/var/www/html
